@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background-image: url('../imagens/pexels-diego-giron-464799823-26180308.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#to_do {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #10101d;
    padding: 18px;
    border-radius: 2px;
    width: 600px;
}

#to_do h1 {
    color: #e5f9ff;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

.to-do-form {
    display: flex;
    width: 100%;
}

.to-do-form input {
    background-color: transparent;
    border: none;
    color: #e5f9ff;
    font-size: 16px;
    width: 100%;
    padding: 4px;
    border-bottom: 2px solid #077aed;
}

.to-do-form input:focus-visible {
    outline: none;
}

.to-do-form .form-button {
    border: none;
    min-width: 40px;
    min-height: 40px;
    background-color: #077aed;
    border-radius: 5%;
    font-size: 20px;
    transition: scale 0.5s ease;
}

.to-do-form .form-button:hover {
    cursor: pointer;
    scale: 1.05;
}

#tasks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 400px;
    overflow: auto;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #262626;
    background-color: #191933;
    padding: 8px 12px;
    border-radius: 3px;
}

.task .progress {
    margin-right: 10px;
}

.task .progress.done + .task-description {
    text-decoration: line-through;
    color: #e5f9ffa7;
}

.task .task-description {
    font-size: 16px;
    color: #fff;
    padding: 4px 0px;
    width: 100%;
}

.task .task-actions {
    display: flex;
    gap: 10px;
}

.action-button {
    font-size: 16px;
}

.action-button.edit-button {
    color: #6c9bbc;
}

.action-button.delete-button {
    color: #077aed;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 600px) {
    #to_do {
        width: 300px;
    }
}

.task.alta {
    border-left: 6px solid #dc2626; /* vermelho */
}
.task.média {
    border-left: 6px solid #f97316; /* laranja */
}
.task.baixa {
    border-left: 6px solid #22c55e; /* verde */
}